<div class="page-heading">
    <h1>List</h1>
</div>
<div class="actions pull-right">
    <a class="btn btn-success" href="/message/add">Add</a>
</div>
<div class="clearfix"></div>
<p>&nbsp;</p> 
<div class="panel panel-default">
  <table class="table table-hover">
      <thead>
          <tr>
              <th>ID</th>
              <th>Channel</th>
              <th>Title</th>
              <th>Message</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
          {{#each items}}
          <tr>
              <td>{{_id}}</td>
              <td>{{channel}}</td>
              <td>{{title}}</td>
              <td>{{message}}</td>
              <td>
                  <a class="btn btn-success btn-sm" href="/message/edit/{{_id}}">Edit</a>
                  <a class="btn btn-warning btn-sm" href="/message/delete/{{_id}}">Delete</button>
              </td>
          </tr> 
           {{/each}}   
      </tbody>    
  </table>
</div>  