<div class="page-header">
    <h1>Change Password</h1>
</div>
<div class="row" ng-controller="AuthController">
    <div class="col-sm-6">
        <form id="userLogin" name="changePasswordForm" method="POST" autocomplete="off">
            <div class="form-group">
                <label for="password">Current Password</label>
                <input type="password" class="form-control" id="currentPassword" name="currentPassword" ng-model="currentPassword" placeholder="Current Password">
            </div>
            <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" class="form-control" id="newPassword" name="newPassword" ng-model="newPassword" placeholder="New Password">
            </div>
            <div class="form-group">
                <label for="password">Confirm New Password</label>
                <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword" ng-model="confirmNewPassword"
                    placeholder="Confirm New Password">
            </div>
            <p>
                <button type="button" ng-click="changePassword()" class="btn btn-success">Change Password</button>
            </p>
            <p ng-cloak ng-show="updateSuccess">
                <strong>Updated Successful.</strong>
            </p>
            <div ng-cloak ng-show="errors && errors.length">
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div ng-repeat="message in errors"><span data-ng-bind="message"></span></div>
                </div>
            </div>
        </form>
    </div>
</div>