#mod-home{
	.bz-calendar{
		width:300px;
		a{
			display: block;
			border:1px solid #ccc;
			width:39px;
			text-align: center;
			float:left;
		}
		.c-head{
			&:after{
				visibility: hidden;
				display: block;
				content: "";
				clear: both;
				height: 0;
			}
		}
		.weekend{
			color:red;
		}
		.next{
			color:#ccc;
		}
	}
}