<section data-ng-controller="CategoriesController">
    <section class="content-header">
        <h1>Categories</h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">New Category</h3>
                    </div>
                    <form data-ng-submit="create()" novalidate>
                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label" for="name">Name</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="slug">Slug</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="slug" id="slug" class="form-control" placeholder="Slug" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="type">Type</label>
                                <div class="controls">
                                    <select class="form-control" data-ng-model="type" id="type" ng-options="item.value as item.name for item in types" required>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="status">Status</label>
                                <div class="controls">
                                    <select class="form-control" ng-init="status = 1" data-ng-model="status" id="status" ng-options="item.value as item.name for item in statuses" required>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="description">Description</label>
                                <div class="controls">
                                    <textarea class="form-control ck-editor" data-ng-model="description" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary">
                                <input type="button" value="Cancel" class="btn btn-default" ng-click="gotoList()">
                            </div>
                            <div class="alert alert-danger alert-dismissable" data-ng-show="error">
                                <h4><i class="icon fa fa-ban"></i> Error!</h4>
                                <div data-ng-bind="error"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</section>
