<section data-ng-controller="CategoriesController" data-ng-init="findOne()">
    <section class="content-header">
        <h1>Categories</h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <h3 data-ng-bind="category.name"></h3>
                    </div>
                    <div class="box-footer">
                        <a class="btn btn-primary" data-ui-sref="editCategory({categoryId: category._id})">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        <a class="btn btn-primary" data-ng-click="remove();">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
