<section data-ng-controller="PostsController" data-ng-init="findOne()">
    <section class="content-header">
        <h1>Posts</h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <form data-ng-submit="update()" novalidate>
            <div class="row">
                <div class="col-md-9">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Edit Post</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label" for="title">Title</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="post.title" id="title" class="form-control" placeholder="Title" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="title">Slug</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="post.slug" id="slug" class="form-control" placeholder="Slug">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="teaser">Teaser</label>
                                <div class="controls">
                                    <textarea class="form-control" data-ng-model="post.teaser" rows="3"></textarea>
                                </div>
                            </div>
                            <!--<div class="form-group">
								<label class="control-label" for="image">Thumb</label>
								<div class="controls">
									<input type="text" data-ng-model="post.thumb" id="thumb" class="form-control"
										   placeholder="">
								</div>
							</div>-->
                            <div class="form-group">
                                <label class="control-label" for="thumb">Thumb</label>
                                <div class="controls">
                                    <input type="file" name="file0" nv-file-select uploader="uploader0" />
                                    <input type="hidden" name="thumb" ng-model="post.thumb">
                                    <img ng-src="{{review_thumb}}" ng-show="review_thumb" style="max-width: 200px; max-height: 200px; padding-top: 10px" />
                                    <p class="help-block" ng-hide="post.thumb">Allow file: Image</p>
                                    <div ng-show="isUploadImage0">
                                        <div class="progress progress-sm active">
                                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="image">Image</label>
                                <div class="controls">
                                    <input type="file" name="file" nv-file-select uploader="uploader" />
                                    <input type="hidden" name="image" ng-model="post.image">
                                    <img ng-src="{{review_image}}" ng-show="review_image" style="max-width: 200px; max-height: 200px; padding-top: 10px" />
                                    <p class="help-block" ng-hide="review_image">Allow file: Image</p>
                                    <div ng-show="isUploadImage">
                                        <div class="progress progress-sm active">
                                            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--
							<div class="form-group">
								<label class="control-label" for="image">Image</label>
								<div class="controls">
									<input type="text" data-ng-model="post.image" id="image" class="form-control"
										   placeholder="">
								</div>
							</div>
-->
                            <div class="form-group">
                                <label class="control-label" for="content">Content</label>
                                <div class="controls">
                                    <textarea class="form-control ck-editor" data-ng-model="post.content" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary">
                                <input type="button" value="Cancel" class="btn btn-default" ng-click="gotoList()">
                            </div>
                            <div class="alert alert-danger alert-dismissable" data-ng-show="error">
                                <h4><i class="icon fa fa-ban"></i> Error!</h4>
                                <div data-ng-bind="error"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box box-default">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label" for="categories">Categories</label>
                                <div class="controls">
                                    <select class="form-control" data-ng-model="post.category" id="category" ng-options="category._id as category.name for category in categories.items" required multiple="multiple">
                                        <option value="">uncategory</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="status">Feature</label>
                                <div class="controls">
                                    <select class="form-control" data-ng-model="post.feature" id="feature" ng-options="item.value as item.name for item in features" required>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="status">Status</label>
                                <div class="controls">
                                    <select class="form-control" data-ng-model="post.status" id="status" ng-options="item.value as item.name for item in statuses" required>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box box-default">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label" for="meta_title">Meta Title</label>
                                <div class="controls">
                                    <textarea class="form-control" data-ng-model="post.attrs.title" rows="1"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="meta_desc">Meta Description</label>
                                <div class="controls">
                                    <textarea class="form-control" data-ng-model="post.attrs.description" rows="2"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="meta_desc">Meta Keyword</label>
                                <div class="controls">
                                    <textarea class="form-control" data-ng-model="post.attrs.keyword" rows="2"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</section>
