<section data-ng-controller="PostsController" data-ng-init="findOne()">
    <section class="content-header">
        <h1>Posts</h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-primary">
                    <div class="box-body">
                        <h3 data-ng-bind="post.title"></h3>
                        <small>
							<em class="text-muted">
								Posted on
								<span data-ng-bind="post.created | date:'mediumDate'"></span>
								by
								<span data-ng-bind="post.user.displayName"></span>
							</em>
						</small>
                    </div>
                    <div class="box-footer">
                        <a class="btn btn-primary" data-ui-sref="editPost({postId: post._id})">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        <a class="btn btn-primary" data-ng-click="remove();">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
